.cart{
    position: sticky;
    top: 0;
    padding: 28px 20px;
}

.btn{
    border: 0;
    margin: 8px;
    background-color: black;
    padding: 10px 20px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}